extends layout

block content
  h1= title
  p Welcome to #{title} 
  p The list below displays the most popular occupations where the total number of employees is over 1 million!

  ul
     each element in occ
        li= element 
